.main.ap-user-list {
    $input-height: 40px;

    #ap-user-filter {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .form-field {
            &:nth-child(1) {
                flex-basis: 20%;
            }

            &:nth-child(2) {
                flex-basis: 20%;
            }

            &:nth-child(3) {
                flex-basis: 20%;
            }

            .form-group {
                margin: 0;
            }
        }

        .form-buttons {
            flex-basis: 5%;
            display: flex;
            gap: 4px;

            .btn {
                height: fit-content;
                height: $input-height;
                display: flex;
                align-items: center;
            }
        }

        .controls {
            position: relative;

            .btn-search {
                position: absolute;
                top: 0;
                right: 1px;
                background: unset;
                border: none;
                height: $input-height;
                width: $input-height;
            }
        }
    }

    input {
        height: $input-height;
        &[type="checkbox"] {
            height: auto;
        }
    }

    select {
        height: $input-height;
        appearance: auto;

        &#bulk-action {
            max-width: 500px;
        }
    }

    .table {
        tbody {
            border-top: unset;

            th {
                &.th-sortable {
                    padding: 0;

                    a {
                        padding: 0.5rem;
                        color: $black;
                        display: block;
                        text-decoration: unset;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .table-sort {
                            display: block;
                            height: 1rem;
                            width: 1rem;
                            background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='8'%3e%3cpath d='M1.75.25v1.5h10.5V.25zm0 3v1.5h7.5v-1.5zm0 3v1.5h4.5v-1.5z' fill='%23000f33'/%3e%3c/svg%3e") no-repeat 50% 50%;
                        }
                    }

                    &:hover {
                        border-bottom: 1px solid var(--ap-color);
                    }
                }

                &.th-active {
                    border-bottom: 1px solid var(--ap-color-link);

                    a {
                        color: #003ecc;

                        .table-sort {
                            &.table-sort--desc {
                                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='16' viewBox='0 0 10 12'%3e%3cpath d='M4.25.75v7.938l-2.469-2.47L.72 7.282 5 11.561l4.281-4.28L8.22 6.22 5.75 8.687V.75h-1.5z' fill='%23003ecc'/%3e%3c/svg%3e");
                            }

                            &.table-sort--asc {
                                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='16' viewBox='0 0 10 12'%3e%3cpath d='M5 .44L.719 4.718 1.78 5.78 4.25 3.313v7.937h1.5V3.312l2.469 2.47L9.28 4.718 5 .439z' fill='%23003ecc'/%3e%3c/svg%3e");
                            }
                        }
                    }

                    &:hover {
                        border-bottom: 1px solid var(--ap-color-link);
                    }
                }
            }
        }

        .checkbox-cell {
            .form-group {
                margin: 0;
            }
        }
    }

    @media (min-width: $screen-sm-min) {
        #ap-user-filter {
            flex-direction: row;
            align-items: end;
            gap: 8px;
        }
    }
}
