.ap-ticket-list .badge {
    color: black;
}

.ap-ticket-list .badge.badge-opened {
    background-color: var(--bs-table-striped-bg);
}

.ap-ticket-list .badge.badge-closed {
    background-color: #6c757d;
}
