body[admin-panel="true"] {
    .btn {
        border-radius: 0 ;
        box-shadow: none;

        &.btn-black {
            border: $border;
            color: $black;
            background-color: $white;

            &:hover,
            &:active,
            &:focus {
                color: $white;
                background-color: $black;
            }
        }
    }


    .accordion {
        border: $border;

        .accordion-header {

            .accordion-button,
            .accordion-button.collapsed {
                border-radius: 0 !important;
            }
        }

        .accordion-header,
        .accordion-body {
            padding: 0.5rem;
        }
    }


    div.list-group {

        .list-group-item {
            border: $border;
            border-radius: 0;
            margin-bottom: 0.5rem;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .flash-messages {
        .alert {
            border: $border;
            border-radius: 0;
        }
    }
}
