body[admin-panel="true"] {
    .main {
        padding-top: 42px;
    }

    #content {
        padding-top: 1rem;
    }
}

div.main {
    background: $white;
}

.masthead {
    position: relative;

    .container .debug {
        position: absolute;
    }
}


#admin-panel {
    $border: 1px solid $black;
    border: $border;
    color: $black;

    position: fixed;
    z-index: 999;
    width: 100%;

    .navbar {
        background: $black;

        .navbar-brand {
            margin-right: 0;
            padding: 0 10px;
        }

        .nav-item {
            background: $nav-item-bg;
            display: flex;

            .nav-link {
                padding: 10px;
                color: $black;

                i {
                    width: 15px;
                }
            }

            .dropdown-menu.show {
                border: 1px solid $black;
                border-radius: 0;
                padding: 0;
                left: -1px;

                .dropdown-item {
                    color: $black;

                    &.with-subitems:after {
                        content: "";
                        display: inline-block;
                        margin-left: 0.255em;
                        vertical-align: 0.255em;
                        border-top: 0.3em solid;
                        border-right: 0.3em solid transparent;
                        border-bottom: 0;
                        border-left: 0.3em solid transparent;
                    }
                }
            }

            &:hover {
                background: $nav-item-bg-hover;
            }

            &.dropdown {
                .dropdown-toggle:after {
                    margin-left: 0;
                    vertical-align: 0.155em;
                }

                &:hover {
                    background: $white;
                }

                a:hover {
                    background: $nav-item-bg-hover;
                }
            }
        }
    }

    input[type="search"],
    .btn.btn-outline-success {
        border: 1px solid $black;
        border-radius: 0;
        color: $black;
    }

    .btn.btn-outline-success:hover {
        color: $white;
    }

    .navbar-toggler {
        border: 1px solid $black;
        border-radius: 0;
        color: $black;
        z-index: 1;
    }

    @media (min-width: $screen-md-min) {
        .navbar {
            padding: 0;

            .nav-item {
                padding: 0;
            }

            .navbar-brand {
                padding: 0 10px 0 0;
            }

            .nav-item {
                border-right: $border;

                &:first-of-type {
                    border-left: $border;
                }
            }
        }
    }

    @media all and (min-width: $screen-md-min) {
        .dropdown-menu li {
            position: relative;
        }

        .nav-item .submenu {
            display: none;
            position: absolute;
            left: 100%;
            top: -1px;
            border: $border;
            border-radius: 0;
            padding: 0;
        }

        .nav-item .submenu-left {
            right: 100%;
            left: auto;
        }

        .dropdown-menu>li:hover {
            background-color: #f1f1f1
        }

        .dropdown-menu>li:hover>.submenu {
            display: block;
        }
    }

    @media (max-width: $screen-md-min) {
        .dropdown-menu .dropdown-menu {
            margin-left: 0.7rem;
            margin-right: 0.7rem;
            margin-bottom: .5rem;
        }
    }
}
