body[admin-panel="true"] {
    background-color: var(--ap-body-bg);
    color: var(--ap-color);

    #content {
        padding-top: 1rem;
    }

    div.main {
        background: var(--ap-body-bg);
    }

    a {
        color: var(--ap-color-link);

        &:hover, &:focus, &:active {
            color: var(--ap-color-link-hover);
        }
    }
}


.masthead {
    position: relative;

    .container .debug {
        position: absolute;
    }
}
