:root {
    --ap-body-bg: white;
    --ap-border-color: black;
    --ap-color: black;
    --ap-color-hover: black;
    --ap-color-link: #0d6efd;
    --ap-color-link-hover: #0a58ca;
    --ap-accordion-arrow: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");

    --ap-nav-item-bg: white;
    --ap-nav-item-bg-hover: #e9ecef;

    --switcher-bg-color: black;
    --switcher-border-color: black;
    --switcher-color: white;

    // buttons
    --ap-primary-btn-bg: #206b82;
    --ap-primary-btn-color: white;
    --ap-primary-btn-border: #206b82;

    // modal
    --ap-modal-close: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e");
}

body[admin-panel-theme="dark"] {
    --ap-body-bg: #18232c;
    --ap-border-color: white;
    --ap-color: white;
    --ap-color-hover: white;
    --ap-color-link: hsl(195, 85%, 41%);
    --ap-color-link-hover: hsl(195, 80%, 50%);
    --ap-accordion-arrow: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");

    --ap-nav-item-bg: #18232c;
    --ap-nav-item-bg-hover: #{lighten(#18232c, 10%)};

    --switcher-bg-color: white;
    --switcher-border-color: black;
    --switcher-color: black;

    // buttons
    --ap-primary-btn-bg: #206b82;
    --ap-primary-btn-color: white;
    --ap-primary-btn-border: #206b82;

    // modal
    --ap-modal-close: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e");
}

$black: black;
$white: white;

$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$border: 1px solid var(--ap-border-color);
