#admin-panel {
    $border: 1px solid var(--ap-border-color);
    $color: var(--ap-color);
    $background: var(--ap-body-bg);
    $color-hover: var(--ap-color-hover);

    $nav-item-bg: var(--ap-nav-item-bg);
    $nav-item-bg-hover: var(--ap-nav-item-bg-hover);

    background: $background;
    border: $border;
    color: $color;

    position: sticky;
    z-index: 999;
    top: 0;
    width: 100%;


    .navbar {
        background: $background;

        .navbar-brand {
            color: $color;
            margin-right: 0;
            padding: 0 10px;
        }

        .nav-item {
            display: flex;

            .nav-link {
                padding: 10px;
                color: $color;
                display: flex;
                gap: 5px;
                align-items: center;

                i {
                    width: 15px;
                }
            }

            .dropdown-menu.show {
                border: $border;
                background: $background;

                border-radius: 0;
                padding: 0;
                left: -1px;

                .dropdown-item {
                    color: $color;
                    background: $nav-item-bg;

                    &.with-subitems:after {
                        content: "";
                        display: inline-block;
                        margin-left: 0.255em;
                        vertical-align: 0.255em;
                        border-top: 0.3em solid;
                        border-right: 0.3em solid transparent;
                        border-bottom: 0;
                        border-left: 0.3em solid transparent;
                    }

                    &:hover,
                    &:focus,
                    &:active {
                        background: $nav-item-bg-hover;
                    }
                }
            }

            &:not(.dropdown):hover {
                background: $nav-item-bg-hover;
            }

            &.active {
                background-color: var(--ap-nav-item-bg-hover);
            }

            &.dropdown {
                .dropdown-toggle:after {
                    margin-left: 0;
                    vertical-align: 0.155em;
                }

                .nav-link.main-link,
                .nav-link.dropdown-toggle {
                    &:hover {
                        background: $nav-item-bg-hover;
                        color: $color-hover;
                    }
                }
            }
        }
    }

    input[type="search"],
    .btn.btn-outline-success {
        border: $border;
        border-radius: 0;
        color: $color;
    }

    input[type="search"] {
        background: $background;
        color: $color;

        &::placeholder {
            color: darken($white, 40%);
        }

        &:focus,
        &:active {
            background: $nav-item-bg-hover;
        }
    }

    .btn-search {
        color: $color;

        &:before {
            color: $color;
        }
    }

    .ap-theme-switcher {
        margin-inline-start: 12px;
    }

    .btn.btn-outline-success:hover {
        color: $white;
    }

    .navbar-toggler {
        border: $border;
        border-radius: 0;
        color: $color;
        z-index: 1;
    }

    // less than 992px, mobile
    // I had to start from it, so now I have to style both desktop and mobile
    // with media queries
    @media (max-width: $screen-md-min) {
        .navbar .nav-item {
            flex-wrap: wrap;

            ul.dropdown-menu {
                flex-basis: 100%;

                -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
                box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);

                .submenu.dropdown-menu.show {
                    margin: 0.5rem 0.7rem;
                }
            }
        }

        .ap-theme-switcher {
            width: 100%;
            margin: 8px 0 0 0;
        }
    }

    // more than 992px
    // @media all and (min-width: $screen-md-min) { ? Do i need all here?
    @media (min-width: $screen-md-min) {
        .navbar {
            padding: 0;

            .nav-item {
                padding: 0;
            }

            .navbar-brand {
                padding: 0 10px 0 0;
            }

            .navbar-nav {
                // merge adjacent borders so that they look slim
                margin-top: -1px;
            }

            .nav-item {
                border: $border;

                // merge adjacent borders so that they look slim
                margin-left: -1px;
                margin-bottom: -1px;
            }
        }

        .dropdown-menu li {
            position: relative;
        }

        .nav-item .submenu {
            display: none;
            position: absolute;
            left: 100%;
            top: -1px;
            border: $border;
            border-radius: 0;
            padding: 0;
        }

        .nav-item .submenu-left {
            right: 100%;
            left: auto;
        }

        .dropdown-menu>li:hover {
            background-color: #f1f1f1
        }

        .dropdown-menu>li:hover>.submenu {
            display: block;
        }
    }
}
