body[admin-panel="true"] {
    .ap-theme-switcher {
        position: fixed;
        right: 20px;
        bottom: 20px;
        width: auto;
        padding: 0.75rem;
        border-radius: 2rem;
        line-height: 1;

        border: 2px solid var(--ap-border-color);
        background-color: var(--switcher-bg-color);
        color: var(--switcher-color);

        &:after {
            display: inline-block;
            width: 1rem;
            height: 1rem;
            border: 0.15rem solid currentColor;
            border-radius: 50%;
            background: linear-gradient(to right,currentColor 0,currentColor 50%,transparent 50%);
            content: "";
            vertical-align: bottom;
        }
    }
}
