body[admin-panel="true"],
#admin-panel {
    .sort-trigger {
        color: var(--ap-color);
    }

    .btn,
    a.btn {
        border-radius: 0 ;
        box-shadow: none;
        display: inline-block;
        font-weight: normal;
        padding: 6px 12px;
        border: 1px solid var(--ap-primary-btn-border);
        color: var(--ap-color);

        &.btn-primary {
            border: 1px solid var(--ap-primary-btn-border);
            background: var(--ap-primary-btn-bg);
            color: var(--ap-primary-btn-color);

            &:hover,
            &:active,
            &:focus {
                color: var(--ap-color-hover);
                background-color: var(--ap-nav-item-bg-hover);
            }
        }

        &.btn-black {
            border: 1px solid var(--ap-border-color);
            background: var(--ap-body-bg);
            color: var(--ap-color);

            &:hover,
            &:active,
            &:focus {
                color: var(--ap-color-hover);
                background-color: var(--ap-nav-item-bg-hover);
            }
        }

        &.btn-danger {
            color: $white;
            background-color: #d43f3a;
            border-color: #d43f3a;
        }

        &.btn-remove-url {
            right: 0;
            top: 0;
            height: 100%;
            border-radius: 0;
            border-top-right-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;
            display: flex;
        }

        &.btn-success {
            background-color: #3A833A;
            border-color: #3A833A;
            color: var(--ap-primary-btn-color);
        }

        i {
            margin-left: 0;
        }
    }
}
