#ap-notification-toast {
    display: block;
    min-width: 350px;
    border-radius: 4px;
    position: fixed;
    z-index: 1000;
    right: 64px;
    top: 10px;
    padding: 16px 24px 16px 24px;
    background-color: #E1F0D8;
    border: 1px solid #D8E9C7;
    color: #45753E;
    font-size: 16px;

    .fa {
        margin-inline-end: 8px;
    }

    &.alert-error {
        border: 1px solid var(--ap-border-color);
        $color: var(--ap-color);
        $background: var(--ap-body-bg);
    }

    &.alert-success {
        border: 1px solid var(--ap-border-color);
        $color: var(--ap-color);
        $background: var(--ap-body-bg);
    }
}
