// ckanext-collection /////////////////////////////////////////////////////////
.table.collection-table {
    color: var(--ap-color);

    &--header &--cell{
        font-weight: bold;

        &-sortable{
            .sort-trigger {
                border: none;
                background: none;
                font-weight: bold;
                display: flex;
                gap: 0.5rem;
                width: 100%;
                justify-content: space-between;

                &:after {
                    font-family: FontAwesome;
                    content: "\f0dc";
                }
            }

            &--primary-order {
                .sort-trigger:after {
                    content: "\f15d";
                }
            }

            &--secondary-order {
                .sort-trigger:after {
                    content: "\f882";
                }
            }
        }
    }
}

// original styles ////////////////////////////////////////////////////////////
.table.table-scrollable {
    table-layout: fixed;

    td {
        word-break: break-word;
    }

    @media (max-width: $screen-sm-min) {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

.table.table-sortable {
    tbody {
        border-top: unset;

        th {
            &.th-sortable {
                padding: 0;

                a {
                    padding: 0.5rem;
                    color: $black;
                    display: block;
                    text-decoration: unset;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .table-sort {
                        display: block;
                        height: 1rem;
                        width: 1rem;
                        background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='8'%3e%3cpath d='M1.75.25v1.5h10.5V.25zm0 3v1.5h7.5v-1.5zm0 3v1.5h4.5v-1.5z' fill='%23000f33'/%3e%3c/svg%3e") no-repeat 50% 50%;
                    }
                }

                &:hover {
                    border-bottom: 1px solid var(--ap-color);
                }
            }

            &.th-active {
                border-bottom: 1px solid var(--ap-color-link);

                a {
                    color: #003ecc;

                    .table-sort {
                        &.table-sort--desc {
                            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='16' viewBox='0 0 10 12'%3e%3cpath d='M4.25.75v7.938l-2.469-2.47L.72 7.282 5 11.561l4.281-4.28L8.22 6.22 5.75 8.687V.75h-1.5z' fill='%23003ecc'/%3e%3c/svg%3e");
                        }

                        &.table-sort--asc {
                            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='16' viewBox='0 0 10 12'%3e%3cpath d='M5 .44L.719 4.718 1.78 5.78 4.25 3.313v7.937h1.5V3.312l2.469 2.47L9.28 4.718 5 .439z' fill='%23003ecc'/%3e%3c/svg%3e");
                        }
                    }
                }

                &:hover {
                    border-bottom: 1px solid var(--ap-color-link);
                }
            }
        }
    }

    .checkbox-cell {
        input {
            height: auto;
        }
        .form-group {
            margin: 0;
        }
    }
}
