.ap-theme-switcher {
    width: auto;
    padding: 0.7rem;
    line-height: 1;

    border: 2px solid var(--ap-border-color);
    background-color: var(--switcher-bg-color);
    color: var(--switcher-color);

    &:after {
        display: inline-block;
        width: .875rem;
        height: .875rem;
        border: 0.15rem solid currentColor;
        border-radius: 50%;
        background: linear-gradient(to right,currentColor 0,currentColor 50%,transparent 50%);
        content: "";
        vertical-align: bottom;
    }

    &:hover {
        border-color: var(--ap-nav-item-bg-hover);
        background: var(--ap-nav-item-bg-hover);

        &:after {
            color: var(--ap-color);
        }
    }
}
